@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

img {
  max-width: 70%;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.pics {
  position: relative;
}

#opt1 {
  background-color: #add4b2;
  width: max-content;
  padding: 0.2em;
  margin: 0.3em;
  color: white;
  border-radius: 0px 10px;
  position: absolute;
  top: 1em;
  left: 1em;
  opacity: 90%;
}
#opt2 {
  background-color: #79afd4;
  width: max-content;
  padding: 0.2em;
  margin: 0.3em;
  color: white;
  border-radius: 0px 10px;
  position: absolute;
  top: 1em;
  left: 1em;
  opacity: 90%;
}
#opt3 {
  background-color: #e2de00;
  width: max-content;
  padding: 0.2em;
  margin: 0.3em;
  color: white;
  border-radius: 0px 10px;
  position: absolute;
  top: 1em;
  left: 1em;
  opacity: 90%;
}

#outlined {
  background-color: #add4b2;
  border: 2px solid white;
  outline: 2px solid #add4b2;
  transition: border 0.21s;
  margin: 2em;
  padding: 0.7em;
  font-size: 1.3rem;
}

#outlined:hover,
#outlined:focus {
  border: 3px solid white;
}

#gradient {
  border: 0;
  border-radius: 0;
  padding: 0.3em;
  background: linear-gradient(
    -45deg,
    #add4b2,
    #d2fdd7,
    #add4b2,
    #d2fdd7,
    #add4b2
  );
  background-size: 300%;
  background-position: left;
  transition: background-position 1s, border-radius 0.3s;
  margin: 2em;
  padding: 0.7em;
  font-size: 1.3rem;
}

#gradient:focus,
#gradient:hover {
  background-position: right;
  border-radius: 0px 30px;
}

#both {
  border: 2px solid white;
  border-radius: 0px 30px;
  outline: 2px solid #add4b2;
  padding: 0.3em;
  background: linear-gradient(
    -45deg,
    #add4b2,
    #d2fdd7,
    #add4b2,
    #d2fdd7,
    #add4b2
  );
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
  margin: 2em;
  padding: 0.7em;
  font-size: 1.3rem;
}

#both:focus,
#both:hover {
  background-position: right;
}

#both-blue {
  border: 2px solid white;
  outline: 2px solid #79afd4;
  padding: 0.3em;
  background: linear-gradient(
    -45deg,
    #79afd4,
    #91d2fd,
    #79afd4,
    #91d2fd,
    #79afd4
  );
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
  margin: 2em;
  padding: 0.7em;
  font-size: 1.3rem;
}

#both-blue:focus,
#both-blue:hover {
  background-position: right;
}
