@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");

body {
  margin: 0;
  position: relative;
  background-color: #fcc0ac1c;
}
header {
  display: flex;
  background-color: #ce796b;
  color: white;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
  font-family: "Abhaya Libre", serif;
}

header h4 {
  align-self: center;
  font-size: 1.3rem;
  margin: 1rem;
}

header h2 {
  align-self: center;
  font-size: 2.4rem;
  font-weight: 800;
  margin: 0;
}

#xmas-sale {
  display: flex;
  background-color: black;
  color: white;
  font-family: "Actor", sans-serif;
  font-size: 1.8rem;
  padding: 2vh;
  justify-content: center;
  gap: 2vw;
}

#xmas-sale div {
  background-color: red;
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  padding: 4px;
}

main {
  display: flex;
  gap: 6vw;
  padding: 4vw;
}

main img {
  max-width: 45vw;
  height: auto;
}

#txt {
  font-family: "Actor", sans-serif;
}

#txt h2 {
  font-size: 2.5rem;
  margin: 0;
}

#txt h3 {
  font-size: 2rem;
}

#color {
  display: flex;
  gap: 1vw;
  margin-bottom: 4vw;
}

#opt1 {
  background-color: #efcb68;
  height: 3vw;
  width: 3vw;
}

#opt4 {
  background-color: black;
  height: 3vw;
  width: 3vw;
}

#opt2 {
  background-color: #00afb9;
  height: 3vw;
  width: 3vw;
}

#opt3 {
  background-color: #e7ad99;
  height: 3vw;
  width: 3vw;
}

#buy {
  background-color: black;
  color: white;
  font-family: "Actor", sans-serif;
  padding: 1rem;
  font-size: 1.7rem;
  border-radius: 20px;
  border: black;
  box-shadow: 5px 5px 0px #ce796b;
  cursor: pointer;
}

#buy:active {
  transform: translateY(3px);
  box-shadow: 2px 2px 0px #ac6358;
  cursor: pointer;
}

#buy3 {
  background-color: black;
  color: white;
  font-family: "Actor", sans-serif;
  padding: 1rem;
  font-size: 1.7rem;
  border-radius: 20px;
  border: black;
  box-shadow: 5px 5px 0px yellow;
  cursor: pointer;
}

#buy3:active {
  transform: translateY(3px);
  box-shadow: 2px 2px 0px rgb(221, 221, 3);
  cursor: pointer;
}

#buy2 {
  background-color: black;
  color: white;
  font-family: "Actor", sans-serif;
  padding: 1rem;
  font-size: 1.7rem;
  border: black;
  box-shadow: 5px 5px 0px #efcb68;
  cursor: pointer;
}

#buy2:active {
  transform: translateY(3px);
  box-shadow: 2px 2px 0px #d6b55b;
  cursor: pointer;
}

#other-bags {
  font-family: "Abhaya Libre", serif;
  font-size: 1.8rem;
  margin-left: 4vw;
  margin-bottom: 1vw;
}

#bags-grid {
  display: flex;
  gap: 2vw;
}

#bags-grid div {
  background-color: white;
  width: 25vw;
  margin-left: 4vw;
  height: 10vh;
  border: 2px solid #e7ad99;
}

#bag2-bg {
  background-color: white;
}

#pop-up1 {
  /* display: none; */
  background-color: black;
  color: white;
  position: absolute;
  width: max-content;
  height: max-content;
  top: 30vh;
  left: 30vw;
  font-family: "Abhiya", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  line-height: 0.8rem;
  padding: 2rem;
  animation: pop-up11 1s linear infinite;
}

@keyframes pop-up11 {
  from {
    display: block;
    border: 4px solid red;
  }
  to {
    border: 4px solid black;
    color: red;
  }
}

#pop-up3 {
  background-color: black;
  color: white;
  position: absolute;
  width: max-content;
  height: max-content;
  top: 30vh;
  left: 30vw;
  font-family: "Abhiya", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  line-height: 0.8rem;
  padding: 2rem;
  border: 4px solid red;
}

#pop-up2 {
  /* display: none; */
  background-color: black;
  color: yellow;
  position: absolute;
  width: max-content;
  height: max-content;
  top: 30vh;
  left: 30vw;
  font-family: "Abhiya", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  line-height: 0.8rem;
  padding: 2rem;
  border: 20px dashed yellow;
  animation: flicker 0.6s linear infinite;
}

@keyframes flicker {
  to {
    border: 20px dashed black;
    background-color: yellow;
    color: black;
  }
}
